<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>
<body>
	<h1>My *NOT REAL* address<%= address%></h1>
	<h2>Zip code is <%= zip%></h2>
	<h2>My country is <%= country%></h2>
	<a href="/">index</a>
	<h4>Fill in some form data...</h4>
	<form action='process' method='post'>
		Music: <input type='text' name='music'>
		Day: <input type='text' name='day'>

		<input type='submit' value='submit'>
	</form>

	<a href="/">go to /</a>

	<a href="/home">go to index</a>
</body>
</html>