<html>
<head>
	<title></title>
	<style type="text/css" src='/stylesheets/style.css'></style>
</head>
<body>
	<h2>FAvorite music: <%= session.music%></h2>
	<h3>Favourite day: <%= session.day%></h3>

</body>
</html>